<h1 class="abouthead">Skills</h1>

      <div class="column">
       
        <div class="set-size charts-container">
            <h2 style="font-size: 16px;font-weight:800;">HTML</h2>
            <div class="pie-wrapper progress-95">
              <span class="label">95<span class="smaller">%</span></span>
              <div class="pie">
                <div class="left-side half-circle"></div>
                <div class="right-side half-circle"></div>
              </div>
            </div>
          </div>
      </div>
      <div class="column">
        <h2 style="font-size: 16px;font-weight: 800;">CSS</h2>
        <div class="set-size charts-container">
            <div class="pie-wrapper progress-90">
              <span class="label">90<span class="smaller">%</span></span>
              <div class="pie">
                <div class="left-side half-circle"></div>
                <div class="right-side half-circle"></div>
              </div>
            </div>
          </div>
      </div>
      
      <div class="column">
        <h2 style="text-align: center;font-size: 16px;font-weight:800;">JAVASCRIPT</h2>
        <div class="set-size charts-container">
            <div class="pie-wrapper progress-75 ">
              <span class="label">75<span class="smaller">%</span></span>
              <div class="pie">
                <div class="left-side half-circle"></div>
                <div class="right-side half-circle"></div>
              </div>
            </div>
          </div>
      </div>

      <div class="column">
       
        <div class="set-size charts-container">
            <h2 style="font-size: 16px;font-weight:800;">Express</h2>
            <div class="pie-wrapper progress-95">
              <span class="label">95<span class="smaller">%</span></span>
              <div class="pie">
                <div class="left-side half-circle"></div>
                <div class="right-side half-circle"></div>
              </div>
            </div>
          </div>
      </div>


      <div class="column">
       
        <div class="set-size charts-container">
            <h2 style="font-size: 16px;font-weight:800;">PHP</h2>
            <div class="pie-wrapper progress-90">
              <span class="label">90<span class="smaller">%</span></span>
              <div class="pie">
                <div class="left-side half-circle"></div>
                <div class="right-side half-circle"></div>
              </div>
            </div>
          </div>
      </div>

      <div class="column">
        <h2 style="font-size: 16px;font-weight:800;">Angular</h2>
        <div class="set-size charts-container">
            <div class="pie-wrapper progress-60 ">
              <span class="label">60<span class="smaller">%</span></span>
              <div class="pie">
                <div class="left-side half-circle"></div>
                <div class="right-side half-circle"></div>
              </div>
            </div>
          </div>
      </div>
