<div class="about-section">
    
    <div class="column1">
      <div class="card1">
        <div class="container">
  
          <h1 class="abouthead">About Me</h1>
          
          <table style="width:100%">
              <tr>
                  <td class="h">Name:</td>
                  <td class="m">Narendra Bhupathi Reddy</td>
              </tr>
              <tr>
                  <td class="h">Date of birth:</td>
                  <td class="m">November 3,1997</td>
              </tr>
              <tr>
                  <td class="h">Address:</td>
                  <td class="m">Guntur , Andhra Pradesh</td>
              </tr>
              <tr>
                  <td class="h">Zip Code:</td>
                  <td class="m">522001</td>
              </tr>
              <tr>
                  <td class="h">Email:</td>
                  <td class="m">Narendrabhupathireddy@gmail.com</td>
              </tr>
              <tr>
                  <td class="h">Phone:</td>
                  <td class="m">+91 9440025137</td>
              </tr>
            </table>
    
        
      </div>
  
  
  
  </div>
  
     
  
    </div>
  
  
    <div class="column1">
      <div class="card">
        <img src="../../assets/narendra.png" alt="Narendra" style="width:100%">
      </div>
    </div>
  
      
    </div>
  
  
    